@font-face {
    font-family: 'Roboto-Bold';
    src: url('/assets/fonts/Roboto-Bold.woff');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('/assets/fonts/Roboto-Light.woff');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('/assets/fonts/Roboto-Regular.woff');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('/assets/fonts/Roboto-Thin.woff');
}
.main_menu{
	color: #ff8c80;
	font-family:
}