.input_img {
    border-color: #000756 !important;
}
.mens_ok {
    margin-top: -35px;
    position: absolute;
    width: 446px;
    z-index: 10;
}
.mens_ok > img {
    position: absolute;
    right: 40px;
    top: 5px;
    width: 21px;
}
.mens_ok_select{
    margin-top: -35px;
    position: absolute;
    width: 446px;
    z-index: 10;
}
.mens_ok_select > img {
    position: absolute;
    right: 40px;
    top: 5px;
    width: 21px;
}
#show > div > div > label {
    position: relative;
    top: 5px;
}
.mens_error > img {
    position: absolute;
    right: 40px;
    top: 5px;
    width: 21px;
}
.mens_error {
    margin-top: -35px;
    position: absolute;
    width: 446px;
    z-index: 10;
}
.mens_info {
    color: #000756;
    font-family: roboto-regular;
    padding-bottom: 5px;
    padding-top: 5px;
}
.form-control::-moz-placeholder {
    color: #000756;
    font-family: roboto-bold;
    font-size: 14px;
    opacity: 0.5;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000756;
    font-family: roboto-bold;
    font-size: 14px;
    opacity: 0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000756;
    font-family: roboto-bold;
    font-size: 14px;
    opacity: 0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000756;
    font-family: roboto-bold;
    font-size: 14px;
    opacity: 0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000756;
    font-family: roboto-bold;
    font-size: 14px;
    opacity: 0.5;
}
.container_login {
    border: 2px solid #fb5f4f;
    border-radius: 10px;
    /*  height: 100%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    width: 400px;
}
.form-control:focus {
    border-color: #000756;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.input_img {
    background: white none repeat scroll 0 0;
    border-color: #000756;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 2px 2px 2px 0;
    border-radius: 0 20px 20px 0 !important;}
.input_label {
    border-color: #000756;
    border-image: none;
    border-radius: 20px 0 0 20px !important;
    border-style: solid none solid solid;
    border-width: 2px 0 2px 2px;
    height: 38px;
    color: #000756;
    font-family:roboto-bold;
    padding-left: 15px;
}
.input-group {
    border-collapse: separate;
    display: table;
    margin-top: 10px;
    position: relative;
}

.col-md-12{
    float: none;
}
.sub_join {
    color: #fb5f4f;
    font-family: roboto-bold;
    font-size: 23px;
    margin-bottom: 0;
    margin-top: 10px;
}
.logo_mirating_nuevo {
    margin-bottom: 30px;
}
.container_join {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    width: 430px;
}
.caja_1 {
    border: 2px solid #fb5f4f;
    border-radius: 10px;
    padding: 25px;
}
.caja_2 {
    border: 2px solid #fb5f4f;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
}
.session_text {
    color: #000756;
    font-family: roboto-bold;
    font-size: 18px;
}
a p {
    color: #000756;
    font-family: roboto-bold;
}
a {
    color: #000756;
    font-family: roboto-bold;
}
label {
    font-weight: 100;
    color: #000756;
    font-family: roboto-bold;
}
.div_final {
    margin: 30px auto 0;
    width: 400px;
}
.div_aviso {
    float: left;
    width: 115px;
}
.div_politica {
    float: left;
    width: 200px;
}
.condiciones > a:hover {
    color: #000756;
}
.div_condiciones {
    font-size: 11px;
    height: 21px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.condiciones {
    float: right;
    position: relative;
    top: 2px;
    width: 93%;
}
.validar_boton {
    background-color: #fb5f4f;
    border: 2px solid #fb5f4f;
    border-radius: 20px;
    color: white;
    font-family: roboto-bold;
    height: 35px;
    width: 160px;
}
#container-particular {
    margin: 0 auto;
    width: 500px;
}
.div_validar_boton {
    margin: 0 auto;
    position: relative;
    top: 20px;
    width: 160px;
}
.dropdown-menu > li > a {
    color: #000756;
}
.input_label > button{
    background-color: #fff;
    border-color: #000756 !important;
    border-radius: 20px 0px 0px 20px !important;
    border-style: solid none solid solid !important;
    border-width: 2px 2px 2px 2px !important;
    color: #000756 !important;
    margin-left: 0 !important;
    height:38px;
}
/*RESPONSIVE DC*/
@media screen and (max-width:500px){
    .logo_hocelot{
        margin-top:30px;
    }
    .caja_1 {
        border: 0px none;
        border-radius: 0px;
        padding: 0px;
    }
    .caja_2 {
        border: 0px none;
        border-radius: 0px;
        padding: 0px;
    }
    .container_join {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .div_final {
        width: 100%;
    }
    .div_aviso {
        float: none;
        width: 100%;
    }
    .div_politica {
        float: none;
        width: 100%;
    }
}