.form-control::-moz-placeholder {
    color: #000756;
    font-family: roboto-bold;
    font-size: 14px;
    opacity: 0.5;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #000756;
    font-family: roboto-bold;
    font-size: 14px;
    opacity: 0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #000756;
    font-family: roboto-bold;
    font-size: 14px;
    opacity: 0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #000756;
    font-family: roboto-bold;
    font-size: 14px;
    opacity: 0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #000756;
    font-family: roboto-bold;
    font-size: 14px;
    opacity: 0.5;
}
.full {
    height: 100%;
	background:none;
}
body {
    margin-top: 0px;
	height: 100%;
}
.container_landing {
    margin-top: -30px !important;
}
#mensaje{
resize: none;	
}
/*PRUEBAS DC*/
.top-features {
    padding: 0;
}
.footer_landing {
    position: fixed !important;
}
.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.form-control:focus {
    border-color: #fb5f4f;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.bs-searchbox > input {
    border: 2px solid #ff8c89;
    border-radius: 10px !important;
    box-shadow: 0 0 0 0;
    color: #000756 !important;
}
.input_img {
    background: white none repeat scroll 0 0;
    border-color: #fb5f4f;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 2px 0 2px 2px;
	border-radius: 10px 0px 0px 10px;
}
.input_label {
    border-color: #fb5f4f;
    border-image: none;
    border-radius: 0 10px 10px 0;
    border-style: solid solid solid none;
    border-width: 2px 2px 2px 0;
    height: 36px;
	color: #000756;
	font-family:roboto-bold;
	padding-left: 0;
}
.input-group {
    border-collapse: separate;
    display: table;
    margin-top: 5px;
    position: relative;
}
.input_img_select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: white none repeat scroll 0 0;
    border-color: #fb5f4f #fb5f4f #fb5f4f #fb5f4f;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 2px 2px 2px 0px;
	border-radius: 0px 10px 10px 0px !important;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 0px !important;
	background-color: #fff;
    border-color: #fb5f4f !important;
    color: #000756 !important; 
	border-radius: 0 10px 10px 0 !important;
    border-style: solid solid solid none !important;
    border-width: 2px 2px 2px 0 !important;
	padding-left: 0;
	max-width: 275px;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #fff !important;
}
.btn-group.open .dropdown-toggle {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
}
.dropdown-menu > li > a {
    color: #000756;
}
.boton_demo {
    border-radius: 10px;
    font-family: roboto-bold;
    height: 35px;
    margin-top: 20px;
    width: 100%;
}
.boton_mostrar {
    background-color: #fb5f4f;
    border: 2px solid #fb5f4f;
    color: white;
}
.div_img_mensaje {
    bottom: 98px;
    position: relative;
    -webkit-padding-before: 15px;
}
.footer_landing {
    position: fixed !important;
}
#img_ok_mens {
    margin: 0 auto;
    width: 93px;
}
.landing_titulo_2 {
    color: #000756;
    font-family: Roboto-Regular;
    font-size: 22px;
    margin-top: 50px;
    text-align: center;
}
/*VALIDACION DC*/
.mens_ok > img {
    margin-top: -28px;
    position: absolute;
    right: 40px;
    width: 21px;
    z-index: 999;
}
.mens_error > img {
    margin-top: -33px;
    position: absolute;
    right: 40px;
    width: 20px;
    z-index: 999;
}
.mens_error {
    color: #000756;
    font-family: roboto-regular;
    padding-bottom: 5px;
    padding-top: 5px;
}
.mens_error_select{
	color: #000756;
    font-family: roboto-regular;
    /*padding-bottom: 3px;
    padding-top: 5px;*/
}
.mens_info {
    color: #000756;
    font-family: roboto-regular;
    padding-bottom: 5px;
    padding-top: 5px;
}
.mens_info_select {
    color: #000756;
    font-family: roboto-regular;
    padding-bottom: 5px;
    padding-top: 5px;
}

.mens_ok_select > img {
    margin-top: -28px;
    position: absolute;
    right: 40px;
    width: 21px;
    z-index: 999;
}
.mens_error_select > img {
    margin-top: -29px;
    position: absolute;
    right: 40px;
    width: 21px;
    z-index: 999;
}
@media (max-width: 1200px) {
	.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
		max-width: 207px;
	}
}
@media (max-width: 990px) {
	.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
		max-width: 240px;
	}
}
@media (max-width: 768px) {
	.demo_titulo {
		padding-top:20px;
	}
	.footer_landing{
		position: relative !important;	
	}
	.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
		max-width: 100%;
	}
	.landing_titulo {
		/*margin-top: -20px;*/
	}
	.container {
		/*padding-left: 0px;
		padding-right: 0px;*/
	}
}