@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/RobotoSlab-Bold.woff');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/RobotoSlab-Light.woff');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/RobotoSlab-Regular.woff');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/RobotoSlab-Thin.woff');
}
.search {
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;
    /*width: 100% !important;*/
}

.main_menu {
    color: #fb5f4f !important;
    font-family: Roboto-Bold !important;
}
.main_menu:hover {
    color: #000756 !important;
}
.cuadro_factura{
    width: 100%;
}
.label_factura{
    text-align: left;
    margin-top: 30px;
}
.padding_container{
    padding-top: 50px;
}