/* Color palette */
:root {
    --black: #000000;
    --sun-yellow: #fcd92f;
    --greyish-brown: #4a4a4a;
    --light-grey: #e0e0e0;
    --white: #ffffff;
    --greyish: #acacac;
    --white-two: #f3f3f3;
    --black-two: #303030;
    --red-pink: #f9315b;
}
/* Text styles */
.mensaje-index {
    font-family: Montserrat;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.0;
    color: #000000;
}
.comunicaciones-align-left {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.12;
    color: #000000;
}
.comunicaciones-align-center {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.12;
    text-align: center;
    color: #000000;
}
.entradilla {
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.06;
    color: #000000;
}
h1{
    color: #000000;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 30px;
}
h3 {
    font-family: Montserrat;
    font-size: 21px;
    color: var(--black);
    font-weight: 400;
    margin-bottom: 15px;
}
.entradilla-mobile {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    color: #000000;
}
h2 {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}
.form-section {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
.menu-web {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.0;
    text-align: center;
    color: #000000;
}
.p-destacado {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    color: #000000;
}
.form-section-mobile {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}
.form-input-field {
    font-family: Montserrat;
    font-size: 15px;
    color: #4a4a4a;
}
.p {
    font-family: Roboto;
    font-size: 15px;
    color: #4a4a4a;
    color: var(--greyish-brown);
    font-weight: 100;
}
.link-mini {
    font-family: Roboto;
    font-size: 12px;
    text-align: center;
    color: #4a4a4a;
}
.form-label-mini {
    font-family: Montserrat;
    font-size: 11px;
    color: #4a4a4a;
}
.nav-down{
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow0px: 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.5);
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.section_big_title{
    font-family: Montserrat;
    font-size: 40px;
    max-width: 615px;
    margin:0 auto;
    font-weight: 600;
    color:black;
}
.section_big_title_2 {
    max-width: 461px;
}
.section_title {
    color: #4a4a4a;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: -10px;
    text-transform: uppercase;
}
.section_subtitle{
    font-family: Montserrat;
    font-size: 21px;
    color: #000000;
}
.section_p{
    font-family: Roboto;
    font-size: 15px;
    color: #4a4a4a;
    color: var(--greyish-brown);
    font-weight: 100;
    line-height: 1.2;
}
.title_section1{
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.06;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}
.titulo_landing{
    color: #000000;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 30px;
}
label{
    font-weight: 400;
}
/*FIN TEXT STYLES*/
/*TEXT SELEEECTION*/
p::selection {
    background: #fcd92f;
}
p::-moz-selection {
    background: #fcd92f;
}
a::selection {
    background: #fcd92f;
}
a::-moz-selection {
    background: #fcd92f;
}
h1::selection {
    background: #fcd92f;
}
h1::-moz-selection {
    background: #fcd92f;
}
h2::selection {
    background: #fcd92f;
}
h2::-moz-selection {
    background: #fcd92f;
}
h3::selection {
    background: #fcd92f;
}
h3::-moz-selection {
    background: #fcd92f;
}
h4::selection {
    background: #fcd92f;
}
h4::-moz-selection {
    background: #fcd92f;
}
label::selection {
    background: #fcd92f;
}
label::-moz-selection {
    background: #fcd92f;
}
li::selection {
    background: #fcd92f;
}
li::-moz-selection {
    background: #fcd92f;
}
img::selection {
    background: #fcd92f;
}
img::-moz-selection {
    background: #fcd92f;
}

/*IMAGENES SECCIONES BACKGROUND*/
.abstract_background {
    background-image: url('/assets/img/new-api/IMG_FondoAbstracto_DesktopHD.png');
}
.home_section6_bg {
    background-image: url('/assets/img/new-api/IMG_SmartData_02_desktop@3x.png');
}
/*FIN IMAGENES SECCIONES BACKGROUND*/


/** Custom **/
.modal-body {
    display: inline-block;
}
.modal-header {
    padding: 15px;
    border: none !important;
}
.no_padding {
    padding-left: 0px;
    padding-right: 0px;
}

.modal-content {
    border-radius: 0px;
}
.close {
    font-size: 60px;
    font-weight: normal;
}
.link-a {
    font-family: Montserrat;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}
.breadcrumb > .active a{
    color: #9b9b9b;
    text-transform: uppercase;
    text-decoration: none;
}
.breadcrumb > .active{
    text-decoration: none;
}
.no_bottom_padding {
    padding-bottom: 0;
}
.breadcrumb a {
    font-family: Roboto;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}
.breadcrumb {
    padding: 8px 0px;
}
.section_line {
    position: relative;
    width: 50px;
    margin: 0px;
    height: 3px;
    background: #000;
    border: 0px;
    text-align: left;
}
.section_line_div {
    margin-bottom: 20px;
    height: 2px;
    margin-top: 20px;
    width: 100%;
}
.float-left{
    float:left;
}
.icon_home_tec{
    max-width: 100%;
    width: 125px;
    margin-top: 25px;
}

.height_input{
    height: 56px;
}
.margin_auto_cons {
    margin: 0 auto;
    width: 119px;
}
.full_width{
    width: 100%;
}
.full_width_contrata{
    width: 100%;
}
/*FIN CUSTOM*/
/*BREADCUM LANDINGS*/
.breadcrumb {
    background-color: white;
}
.background_grey{
    background-color: #303030;
}
.height_info{
    height:131px;
    padding-top: 80px;
    font-family: Roboto;
}
.height_info_mobile{
    margin-top: 10px;
    font-family: Roboto;
}
/*FIN BREADCUM LANDIGNS*/
/*UTILIDADES PARA MODIFICAR ESPACIOS Y MÁRGENES ENTRE OBJETOS DC*/
.section_padding{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section_double_padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section_padding_all{
    padding:50px;
}
.section_padding_left80{
    padding-left:80px;
}
.section_padding_bottom70{
    padding-bottom:70px;
}
.section_padding_top70{
    padding-top:70px;
}
.section_padding_bottom{
    padding-bottom: 50px;
}
.section_padding_bottom30{
    padding-bottom: 30px;
}
.section_margin{
    margin-top: 50px;
    margin-bottom: 50px;
}
.section_margin_top{
    margin-top:40px !important;
}
.section_margin_bottom{
    margin-bottom:10px;
}
.section_margin_left{
    margin-left: 10px;
    margin-right: -10px;
}
.section_margin_right{
    margin-right: 10px;
    margin-left: -10px;
}
.section_margin_left_2{
    margin-left: 10px;
    margin-right: -10px;
}
.section_margin_right_2{
    margin-right: 10px;
    margin-left: -10px;
}
.section_no_margin_bottom{
    margin-bottom:0px;
}
.section_no_padding_all{
    padding: 0px;
}
.section_no_padding_left{
    padding-left:0;
}
.section_no_padding_right{
    padding-right:0;
}
.section_no_top_padding{
    padding-top: 0px;
}
.margin-right20{
    margin-right: -20px;
}
.margin-left20{
    margin-left: -20px;
}
.margin-left10{
    margin-left: 10px;
}
.section_padding_bottom80{
    padding-bottom: 80px;
}
.p_margin{
    margin-top: 0px;
    margin-bottom: 5px;
}
.p_margin_top{
    margin-top: 27px;
}
/*FIN UTILIDADES*/
/*ASASDASDASDASD*/
.height_cols{
    min-height: 300px;
}
.section_img1{
    width: 100%;
    max-width: 772px;
}
.section_img_center{
    display: flex;
    align-items: center;
}
.div-img-responsive{
    padding: 0 !important;
}
.img-responsive{
    width:100%;
}
.section_background_white{
    background-color: white;
}
.image_section2{
    padding-top:50px;
}
.section_background{
    background-color: #f3f3f3;
}
/*CAROUSEL HOME*/
.header-fixed {
    background: white none repeat scroll 0 0;
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out 0s;
    width: 100%;
    z-index: 4;
}
#MenuHocelotFixed {
    margin-top: 12px;
}
.nav-up {
    top: -80px;
}
.carousel_button{
    float: left;
}
.carousel_title {
    color: #fff;
    font-family: Montserrat;
    font-size: 60px;
    text-align: left;
    font-weight: 600;
}
.carousel_div{
    width: 500px;
    /*left: 200px;*/
    /*position: relative;*/
}
.carousel_button{
    margin-top: 20px;
}
.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}
.carousel-control > span {
    top: 50%;
    transform: translate(-50%, -50%);
    height: 51px;
    z-index: 5;
    display: inline-block;
}
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*FIN CAROUSEL HOME*/
/*NAV*/
.navbar {
     border: 1px solid transparent;
}
.navbar-header{
    background-color: #FFFFFF;
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow0px: 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.5);
}
.main_menu{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
.nav-hocelot-center{
    margin:0 auto;
    width: 1024px;
}
.navbar-toggle{
    color: #000000;
    border: 0px;
    font-size: 23px;
    margin-top: 3px;
}
.navbar-collapse{
    margin-top: 0px;
}
.navbar-fixed-top {
    margin-top: -1px;
}
.navbar-collapse.collapse.in {
    background: black none repeat scroll 0 0;
}
.nav > li > a:focus, .nav > li > a:hover {
    color: #000;
    background-color: white;
}
.navbar-nav > li > .main_menu:after{
    position: absolute;
    bottom: 20px;
    left: 26%;
    width: 50%;
    height: 4px;
    background-color: #fcd92f;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);
}
.navbar-nav > li > .main_menu:hover:after{
    opacity:1;
    transform: translateY(15px)
}
.navbar-nav > li > .active:after{
    position: absolute;
    bottom: 20px;
    left: 26%;
    width: 50%;
    height: 4px;
    background-color: #000;
    content: "";
    opacity: 1;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(15px);
}
.navbar-nav > li > .active:hover:after{
    position: absolute;
    bottom: 20px;
    left: 26%;
    width: 50%;
    height: 4px;
    background-color: #fcd92f;
    content: "";
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    opacity:1;
    transform: translateY(20px)
}
.header-fixed{
    height: 80px;
}
.navbar-nav > li > a {
    padding-left: 37px;
    padding-right: 37px;
}
/*FIN NAV*/
/*FOOTER DC*/
.logo_footer{
    max-height: 44px;
}
.footer-hocelot{
    background-color: #2f2f2f;
    padding:0;
}
.footer-white{
    background-color: #fff;
    height:50px;
    padding-top:10px;
}
.footer_link{
    font-family: Roboto;
    font-size: 12px;
    color: #4a4a4a;
    text-decoration: underline;
}
.footer_text{
    font-family: Roboto;
    color: #000000;
    font-size: 12px;
}
.rs_left_footer{
    float: right;
}
.rs_right_footer{
    float: left;
}
.padding_footer{
    padding-top: 25px;
    padding-bottom:25px;
}
.title_footer{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    color: #e0e0e0;
    text-align: left;
    margin-bottom:18px;
}
.p_footer{
    font-family: Montserrat;
    font-size: 14px;
    text-align: left;
    color: #e0e0e0;
    margin-bottom:11px;
}
.a_footer{
    font-family: Montserrat;
    font-size: 14px;
    text-align: left;
    color: #e0e0e0;
}
.a_footer:hover{
    color: #e0e0e0;
}
.container_footer{
    max-width: 775px;
    margin:0 auto;
}
.space_footer_top{
    height: 50px;
}
.space_footer_bottom{
    height: 40px;
}
/*FIN FOOTER*/
/*BUTTONS*/
.disabled_button{
    font-family: Montserrat;
    text-transform: uppercase;
    border:0px none;
    background-color: #f3f3f3;
    color: #ababab;
}
.button_hocelot{
    font-family: Montserrat;
    text-transform: uppercase;
    border:0px none;
    background-color: #fcd92f;
    color: #000000;
}
.boton_consultar{
    background-color: #fcd92f;
    border: 0 none;
    color: #000000;
    font-family: Montserrat;
    text-transform: uppercase;
    height: 60px;
    font-size: 20px;
}
.boton_consultar:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.button_hocelot:hover{
    color: #000000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.button_bigest{
    font-weight: 500;
    height: 60px;
    font-size: 20px;
}
.button_big{
    font-weight: 500;
    height: 50px;
    font-size: 20px;
}
.button_small{
    height: 43px;
    font-size: 13px;
}

/*BUTTONS YA CREADOS*/
.bttn-med {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.0;
    text-align: center;
    color: #000000;
}
.bttn-big {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.0;
    color: #000000;
}
.button_section6 {
    border-radius: 0px;
    min-height: 50px;
    height: initial;
    font-weight: 500;
    font-family: Montserrat;
}
.button_section6{
    font-family: Montserrat;
    font-size: 20px;
    color: #000000;
    background-color: #fcd92f;
    text-transform: uppercase;
    border: 0px none;
    height: 50px;
}
.button_section6:hover{
    color: #000000;
}
.btn.button_section6.carousel_button {
    padding-top: 15px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: #000000;
}
.btn_transparent{
    background: transparent;
    border: 4px solid #000000;
    height: 58px;
    padding-top: 9px;
}
.link_style{
    font-family: Montserrat;
    font-size: 13px;
    height: 43px;
    font-weight: 500;
    background-color: #fcd92f;
    text-transform: uppercase;
    padding:11px;
    border: 0px none;
    color: var(--black);
}
.link_style:hover{
    color: #000000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.button_section6:hover{
    color: #000000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
/*FIN BUTTONS*/
/*SIMILAR CAJAS*/
.similar_height_home{
    min-height: 468px;
}
.similar_height_data{
    min-height: 579px;
}
.similar_height_analy{
    min-height: 620px;
}
.similar_height_about{
    min-height: 590px;
}
.min_height_tec{
    min-height: 390px;
}
.container_home{
    width: 620px;
    margin: 0 auto;
}
/*FIN SIMILAR CAJAS*/
/*RESPONSIVE MAX WIDTH*/
@media (max-width: 1024px) {
    /*.navbar-nav > li > a {*/
        /*padding-left: 15px !important;*/
        /*padding-right: 15px !important;*/
    /*}*/
    .nav-hocelot-center {
        width: 778px;
    }
    .navbar-nav > li > a {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
@media (max-width: 991px) {
    .similar_height_analy {
        min-height: 0px;
    }
    .margin-left20 {
        margin-left: 0px;
    }
    .section_margin_right {
        margin-right: 0px;
    }
    .section_responsive_margin_bottom{
        margin-bottom: 10px;
    }
    .margin-left10 {
         margin-left: 0px;
    }
    .margin-right20 {
          margin-right: 0px;
    }
    .section_margin_left {
        margin-left: 0px;
    }
}
@media(max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .container_home{
        width: 100%;
    }
    .navbar-nav > li > a {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .nav-hocelot-center {
        width: 755px;
    }
}
@media(max-width: 1190px) {
    .similar_height_home {
        min-height: 514px;
    }
    .similar_height_data {
        min-height: 545px;
    }
    .similar_height_analy {
        /*min-height: 712px;*/
        min-height:594px;
    }
    /*.similar_height_about{*/
        /*min-height: 559px;*/
    /*}*/
}
@media(max-width: 991px) {
    .title_footer {
        text-align: center;
        margin-top: 40px;
    }
    .p_footer {
        text-align: center;
    }
    .a_footer {
        text-align: center;
    }
}
/*COL-SM*/
@media(max-width: 982px) {
    .similar_height_home {
        min-height:514px;
    }
    .similar_height_data {
        min-height: 0px;
    }
    .similar_height_analy {
        min-height: 0px;
    }
    .similar_height_con{
        min-height: 0px;
    }
    .similar_height_about{
        min-height: 0px;
    }
    .section_responsive_margin_bottom {
        margin-bottom: 10px;
    }
    .section_margin_right {
        margin-left: 0;
        margin-right: 0;
    }
    .section_margin_left {
        margin-left: 0;
        margin-right: 0;
    }
    .margin-left20 {
        margin-left: 0px;
    }
    .similar_height_con {
        min-height: 0px;
    }
    .margin-left10 {
        margin-left: 0px;
    }
}
@media(max-width: 970px) {
    .similar_height_home {
        /*min-height: 528px;*/
        min-height:528px;
    }
    .similar_height_data {
        min-height: 0px;
    }
    .title_footer{
        text-align: center;
    }
    .p_footer{
        text-align: center;
    }
    .a_footer{
        text-align: center;
    }
}
@media(max-width: 765px) {
    .similar_height_home {
        /*min-height: 528px;*/
        min-height:0px;
    }
    .similar_height_data {
        min-height: 0px;
    }
    .similar_height_con{
        min-height: 0px;
    }
    .margin-right0{
        margin-right: 0px;
    }
    .margin-left20{
        margin-left: 0px;
    }
    .margin-left10{
        margin-left: 0px;
    }
    .section_margin_left{
        margin-left: 0px !important;
    }
}
/*MOBILE HOCELOT CUSTOM STYLE*/
@media screen and (max-width: 767px) {
    .similar_height_home{
        min-height: 0px;
    }
    .section_margin_right_2{
        margin-right: 0;
        margin-left: 0;
    }
    .section_margin_left_2{
        margin-left: 0;
        margin-right: 0;
    }
    .section_responsive_margin_bottom{
        margin-bottom: 10px;
    }
    .navbar-hocelot-mobile {
        display: none;
    }
    .navbar-hocelot-mobile {
        background-color: transparent;
        display: inline;
    }
    .header-fixed{
        display: none;
    }
    .boton_responsive{
        top: 10px;
    }
    .input_colum_demo_pri {
        padding-right: 0px;
    }
    .input_colum_demo_ult {
        padding-left: 0px;
    }
    .input_colum_demo_medio {
        padding-left: 0px;
        padding-right: 0px;
    }
    .demo_titulo {
        padding-top:20px;
    }
    #pre_api{
        display:none;
    }
    /*.modal-dialog {*/
        /*width: auto;*/
    /*}*/
}
@media screen and (max-width: 765px) {
    .main_menu_mobile{
        font-family: Montserrat;
        font-weight: 500;
        color: #000000;
        font-size: 25px;
        line-height: 30px !important;
    }
    .navbar-nav>li>a{
        padding: 20px;
    }
    .navbar-collapse{
        background-color: #FFFFFF;
        -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.5);
        -moz-box-shadow0px: 2px 4px rgba(0, 0, 0, 0.5);
        box-shadow:0px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .navbar-collapse.collapse.in{
        background-color: #FFFFFF;
    }
    .section_responsive_no_margins {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .navbar-toggle {
        color: #000000;
        border: 0px;
        font-size: 26px;
        margin-top: 8px;
        margin-right: 13px;
    }
    /*#mycarousel {*/
        /*top: 60px;*/
    /*}*/
    .carousel_title {
        font-size: 30px;
    }
    .button_section6{
        height: 50px;
        font-size: 15px;
        line-height: 20px;
        min-width: 165px;
        padding-top: 15px;
    }
    .title_section1{
        font-size: 24px;
    }
    .section_big_title{
        font-size: 28px;
    }
    .section_padding {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section_title{
        margin-bottom: 25px;
        margin-top: -5px;
    }
    .image_section2{
        padding-bottom: 43px;
        padding-top: 43px;
    }
    .section_padding_all {
        padding: 50px;
        padding-top: 20px;
    }
    .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .section_double_padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .link_style {
        padding: 15px;
        line-height: 13px;
    }
    .btn_transparent{
        line-height: 12px;
        padding-top: 8px;
    }
    .footer_link_div{
        margin-bottom: 8px;
        margin-top: 8px;
        font-family: Roboto;
        font-size: 12px;
        color: var(--greyish-brown);
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer_legal_div{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .navbar-brand{
        padding: 20px 25px;
        height: 60px;
    }
    .carousel-caption {
        left: 20px;
    }
    .section_line_div {
        margin-bottom: 20px;
    }
    .modal-body {
        padding: 0px;
    }
    .modal-body > .section_padding_all{
        padding: 5px !important;
    }
    .no_padding{
        padding: 0px;
    }
    .link_services{
        margin-bottom: 30px;
    }
    .modal-header{
        padding: 10px;
        border: none !important;
        padding-top: 0px;
        margin-top: -10px;
        margin-right: -5px;
    }
    h3 {
        font-size: 18px;
    }
}
/* Responsive: Portrait tablets and up */
/*MIN WIDTH*/
@media (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}
@media screen and (max-width: 758px) {
    .div_full_width_contrata {
        width: 95px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 758px) {
    .div_full_width_contrata {
        width: 190px;
        margin: 0 auto;
    }

}
@media screen and (min-width: 768px) {
    .div_full_width_contrata{
        width: 190px;
        margin: 0 auto;
    }
    /*HOCELOT STYLE CUSTOM*/
    .navbar-hocelot{
        display: block;
        background-color: white;
        /*border-bottom: 1px solid;*/
        height: 80px;
        border-radius: 0px;
    }
    .navbar-hocelot-mobile{
        display: none;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    .navbar-brand{
        display: none;
    }
    .main_menu_mobile{
        color: #000;
    }
    .navbar-hocelot-mobile {
        display: none !important;
    }
    .hocelot-header{
        padding: 0px;
    }
    .navbar-nav{
        margin-left: -15px;
    }
}
@media (max-width: 800px) {
    .navbar-nav > li > a {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .nav-hocelot-center {
        width: 755px;
    }
}