
/*DC 20170424 */
/*Custom style HOCELOT */

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('/assets/fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('/assets/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('/assets/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('/assets/fonts/Roboto-Light.ttf');
}
/*CLASES COMUNES A ELEMENTOS HTML EN LA HOME DC*/
p{
  font-family: Roboto-Medium;
  font-size: 15px;
  color: #4a4a4a;
}
h3{
  font-family: Montserrat-Regular;
  font-size: 21px;
  color: #000000;
  margin-top:5px;
  margin-bottom:5px;
}
h2{
  font-family: Montserrat-Bold;
  font-size: 21px;
  color: #000000;
}
#MenuHocelot{
  padding-top:5px;
  font-size: 15px;
}
.main_menu{
  font-family: Montserrat-Bold;
  font-size: 18px;
  color: #000000;
}
/*FIN DE CLASES COMUNES*/

/*HEADER*/
.button-navbar-mobile{
  color: darkblue;
  border:1px solid;
}
.nav-hocelot-center{
  margin:0 auto;
//width: 775px;
  width:793px;
}
.carousel {
  top: -20px;
}
/*.hocelot-header{*/
/*height: 50px;*/
/*}*/
.navbar-collapse.collapse.in {
  background: black none repeat scroll 0 0;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*FIN HEADER*/

.height_cols{
  min-height: 300px;
}
.section_img1{
  width: 100%;
  max-width: 772px;
}
.section_img_center{
  display: flex;
  align-items: center;
}
.div-img-responsive{
  padding: 0 !important;
}
.img-responsive{
  width:100%;
}
.section_background_white{
  background-color: white;
}
.image_section2{
  padding-top:50px;
}
.section_line_div {
  height: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}
.section_line{
  position: relative;
  border:2px solid #000;
  width: 50px;
  margin: 0px;
}
.section_background{
  background-color: #f3f3f3;
}
.section_big_title{
  font-family: Montserrat-Bold;
  font-size: 40px;
  max-width: 615px;
  margin:0 auto;
  color:black;
}
.section_subtitle{
  font-family: Montserrat-Bold;
  font-size: 21px;
  color: #000000;
}
.section_p{
  font-family: Roboto-Light;
  font-size: 15px;
  color: #4a4a4a;
}
.title_section1{
  font-family: Montserrat-Light;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.06;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}
/*.section_full_width{
  max-width: none;
  width: 100%;
}*/
.title_section6{
  float: left;
}

.section6_text{
  font-family: Montserrat-Light;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  max-width: 615px;
}
/*FOOTER DC*/
.footer-hocelot{
  background-color: #2f2f2f;
  padding:0;
}
.footer-white{
  background-color: #fff;
  height:50px;
  padding-top:10px;
}
.footer_link{
  font-family: Roboto-Light;
  font-size: 12px;
  color: #4a4a4a;
  text-decoration: underline;
}
.footer_text{
  font-family: Roboto-Light;
  color: #000000;
  font-size: 12px;
}
.section_title{
  font-size: 13px;
  text-transform: uppercase;
  font-family: Montserrat-Light;
  color: #4a4a4a;
  margin-bottom: 35px;
  margin-top: -10px;
}
.rs_left_footer{
  float: right;
}
.rs_right_footer{
  float: left;
}
.padding_footer{
  padding-top: 25px;
  padding-bottom:25px;
}
.section_no_top_padding{
  padding-top: 0px;
}

/*FIN FOOTER*/
/*LANDING DEMO DC */
.breadcrumb {
  background-color: white;
}
.background_grey{
  background-color: #303030;
}
.height_info{
  height:131px;
  padding-top: 80px;
  font-family: Roboto-Regular;
}
.height_info_mobile{
  margin-top: 10px;
  font-family: Roboto-Regular;
}
/*PRUEBAS*/

.header-fixed {
  background: white none repeat scroll 0 0;
  height: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out 0s;
  width: 100%;
  z-index: 4;
}
#MenuHocelotFixed {
  margin-top: 12px;
}
.nav-up {
  top: -80px;
}
.carousel_button{
  float: left;
}
.carousel_title {
  color: #000000;
  font-family: Montserrat-Bold;
  font-size: 60px;
  text-align: left;
}
.carousel_div{
  width: 500px;
}
.carousel_button{
  margin-top: 20px;
}
.carousel-caption {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
.carousel-control > span {
//position: absolute;
  /*set position of image from top to be 50%...*/
  top: 50%;
  /*and then shift it down to make it perfectly center.*/
  transform: translate(-50%, -50%);
  height: 51px;
  z-index: 5;
  display: inline-block;
}
/* Space out content a bit */
/*body {*/
/*padding-top: 20px;*/
/*padding-bottom: 20px;*/
/*}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.landing_desc {
  color: #000000;
  font-family: Montserrat-Medium;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 45px;
}
.demo_titulo{
  text-align:center;
  font-family:roboto-bold;
  font-size:16px;
  color: #000756;
}
.form-control::-moz-placeholder {
  font-family: Montserrat-Light;
  font-size: 15px;
  color: rgba(74, 74, 74, 0.5);
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: Montserrat-Light;
  font-size: 15px;
  color: rgba(74, 74, 74, 0.5);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: Montserrat-Light;
  font-size: 15px;
  color: rgba(74, 74, 74, 0.5);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: Montserrat-Light;
  font-size: 15px;
  color: rgba(74, 74, 74, 0.5);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Montserrat-Light;
  font-size: 15px;
  color: rgba(74, 74, 74, 0.5);
}
.form-control:focus {
  border-color: #000;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.placeMin{
  font-family: Montserrat-Regular;
  font-size: 11px;
  color: #000000;
  position: relative;
  transition: top 0.2s ease-in-out 0s;
  z-index: 9;
}
.title-white{
  background-color: #fcd92f;
  color: #fff;
}

.select_disabled{
  opacity: 0.5;
}
.disabled > a > .text {
  opacity: 0.5;
  color: #000756;
}
button > span:first-of-type{
  /*opacity: 0.5;*/
}
.bs-searchbox > input {
  border-color: #000;
  border-radius: 0;
  border-width: 0 0 2px;
  box-shadow: 0 0 0 0;
  color: #000;
}
.bootstrap-select > .dropdown-toggle:focus {
  outline:none;
  background-color: #fff;
  border-color:#fcd92f;
}
.bootstrap-select > .dropdown-toggle {
  background-color: #fff !important;
  border-color: #000 !important;
  color: #000 !important;
}
.send_key{
  font-family: Montserrat-Regular;
  font-size: 13px;
  width: 128px;
  height: 43px;
  border: solid 1px #fcd92f;
  background-color: transparent;
  color: #fcd92f;
  text-transform: uppercase;
}
.dropdown-menu {
  border: 0px none;
  border-radius: 0px;
  box-shadow: none;
  top: 5px;
}
.dropdown-menu > li > a {
  border-bottom: 2px solid;
  color: black;
}
.input_img {
  background: white none repeat scroll 0 0;
  border-color: #4a4a4a;
  border-image: none;
  border-style: solid none solid solid;
  border-width: 2px 0 2px 2px;
  border-radius: 10px 0px 0px 10px;
}
.input_label {
  border-style: solid none solid solid;
  border-radius: 0;
  border-width: 0 0 2px;
  box-shadow: 0 0 0 0;
  color: #000;
  border-color: #000;
  font-family: Montserrat-Regular;
  font-size: 15px;
  height: 50px;
  padding-top: 20px;
}
.btn-default {
  border-style: solid none solid solid;
  border-radius: 0;
  border-width: 0 0 2px;
  box-shadow: 0 0 0 0;
  color: #000;
  border-color: #000;
  font-family: Montserrat-Regular;
  font-size: 15px;
  height: 36px;
}
.color_white{
  color: #f3f3f3;
}
.input_label_grey::-moz-placeholder {
  font-family: Montserrat-Light;
  font-size: 15px;
  color: #fefefe;
}
.input_label_grey::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: Montserrat-Light;
  font-size: 15px;
  color: #fefefe;
}
.landing_desc_text{
  font-family: Roboto-Medium;
  font-size: 15px;
  color: #fefefe;
}
.height_divkey{
  height:60px;
}
.resend_key {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  color: #fcd92f;
}
.input_label_grey {
  background-color: #545454;
  color: #fff;
  padding-top: 5px;
}
.margin-bottom-title{
  margin-bottom: 20px;
}
.title_desc_demo{
  margin-top: 5px;
}
.input-group {
  border-collapse: separate;
  display: table;
  margin-top: 5px;
  position: relative;
}
.input_colum_demo {
  padding: 0;
}
.input_colum_demo_medio {
  padding-left: 5px;
  padding-right: 5px;
}
.input_colum_demo_pri {
  padding-right: 5px;
}
.input_colum_button_pri{
  padding-right: 5px;
}
.input_colum_demo_ult {
  padding-left: 5px;
}
.boton_demo {
  font-family: Montserrat-Medium;
  text-transform: uppercase;
  height: 50px;
  margin-top: 20px;
  width: 200px;
}
.margin_auto{
  width: 200px;
  margin: 0 auto;
}
.boton_limpiar {
  border: 2px solid #000756;
  color: #000756;
  background-color:white;
}
.boton_mostrar {
  background-color: #f3f3f3;
  border: 0px none;
  color: #ababab;
}
.boton_mostrar_active {
  background-color: #f3f3f3;
  border: 0px none;
  color: #ababab;
}
.hr_demo {
  border: 1px solid #fb5f4f;
  margin-bottom: 40px;
  margin-top: 40px;
}
.key_input {
  top: 20px;
}
.input_key{
  border-color: #5caf35;
}
.input_key:focus{
  border-color: #5caf35;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: white;
  opacity: 1;
}
.input_img_select {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: white none repeat scroll 0 0;
  border-color: #fb5f4f #fb5f4f #fb5f4f #fb5f4f;
  border-image: none;
  border-style: solid solid solid none;
  border-width: 2px 2px 2px 0px;
  border-radius: 0px 10px 10px 0px !important;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: 0px !important;
  background-color: #fff;
  border-color: #fb5f4f !important;
  color: #000756 !important;
  border-radius: 0 10px 10px 0 !important;
  border-style: solid solid solid none !important;
  border-width: 2px 2px 2px 0 !important;
  padding-left: 0;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  background-color: #fff !important;
}
.btn-group.open .dropdown-toggle {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
}
.response_fuera {
  background-color: #ecf5f8;
  border: 2px solid #000756;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
.response_titulo {
  color: #000756;
  font-family: roboto-bold;
  font-size: 16px;
}
.response_titulo_abajo {
  /* margin-top: 20px;*/
}
.response_info_titulo {
  color: #000756;
  font-family: roboto-regular;
  margin-left: 10px;
}
.img_info_response {
  bottom: 2px;
  margin-right: 5px;
  position: relative;
}
.response_dentro{
  border: 2px solid #000756;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
}
#pre_api {
  height: 122px;
}
.img_disabled{
  opacity:0.65;
}
.select_place{
  font-size:14px;
  color: #000756;
  opacity:0.5;
}
.placeholder_select{
  opacity:0.5;
}
.input-group-addon {
  padding: 6px 7px !important;
}
.dropdown-menu.inner {
  max-height: 130px !important;
}
.modal-dialog.modal-content {
  position: relative;
  top: 300px;
  width: 340px;
}
#response_api ul > .active {
  border: 2px solid #000756;
  border-bottom: 0px none;
  border-radius: 10px 10px 0px 0px;
}
.nav-tabs.nav-justified > li > a {
  border-radius: 8px 8px 0 0;
  color: #000756;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #000756;
  outline: medium none;
}
.nav-tabs.nav-justified {
  font-family: roboto-bold;
}
.result_title {
  color: #000756;
  font-family: roboto-bold;
}
.result_subtitle {
  font-family: roboto-regular;
}
.result_info {
  bottom: 8px;
  color: #000765;
  font-size: 12px;
  opacity: 0.65;
  position: relative;
}
.result_left {
  margin-left: 25px;
}
.img_inf_result {
  bottom: 1px;
  position: relative;
}
.btn-group.bootstrap-select.form-control.input_label {
  padding-top: 14px;
}
/*VALIDACION DC*/
/*#mens_info_sexo > img {
    position: absolute;
    right: 40px;
    top: 35px;
    width: 21px;
    z-index: 999;
}*/
.mens_ok > img {
  margin-top: -28px;
  position: absolute;
  right: 40px;
  width: 21px;
  z-index: 999;
}
.mens_error > img {
  margin-top: -33px;
  position: absolute;
  right: 40px;
  width: 20px;
  z-index: 999;
}
.mens_error {
  color: #000756;
  font-family: roboto-regular;
  padding-bottom: 5px;
  padding-top: 5px;
}
.mens_error_select{
  color: #000756;
  font-family: roboto-regular;
  /*padding-bottom: 3px;
  padding-top: 5px;*/
}
.mens_info {
  color: #000756;
  font-family: roboto-regular;
  padding-bottom: 5px;
  padding-top: 5px;
}
.mens_info_select {
  color: #000756;
  font-family: roboto-regular;
  padding-bottom: 5px;
  padding-top: 5px;
}
.key {
  font-family: roboto-bold;
}
.string {
  font-family: roboto-regular;
}
pre {
  background-color: #fff;
  border: 0px none;
}
.mens_ok_select > img {
  margin-top: 22px;
  position: absolute;
  right: 40px;
  width: 21px;
  z-index: 999;
}
.mens_error_select > img {
  margin-top: -29px;
  position: absolute;
  right: 40px;
  width: 21px;
  z-index: 999;
}
#mens_info_acepto_cond {
  left: 45px;
  position: relative;
  /*top: 30px;*/
}
#mens_info_acepto_cond {
  font-size: 12px;
  left: 33px;
  position: relative;
  width: 83%;
}
.caja_error {
//opacity: 0.05;
//background-color: #f9315b;
  border-color: #f9315b;
}
.caja_focus{
  border-color: #fcd92f !important;
}
/*CONDICIONES */
.condiciones_text {
  color: #4a4a4a;
  font-family: Montserrat-Regular;
  margin-bottom: 10px;
  font-size: 13px;
}
.condiciones {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #4a4a4a;
}
.condiciones a {
  color: #000000;
  text-decoration: underline;
}

.similar_height_home{
  min-height: 512px;
}
.similar_height_data{
  min-height: 579px;
}
.similar_height_analy{
  min-height: 620px;
}
.similar_height_con{
  min-height: 484px;
}
.similar_height_about{
  min-height: 590px;
}