.form-control::-moz-placeholder {
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.5);
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.5);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.5);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.5);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.5);
}
.input_label {
    border-style: solid none solid solid;
    border-radius: 0;
    border-width: 0 0 2px;
    box-shadow: 0 0 0 0;
    color: #000;
    border-color: #000;
    font-family: Montserrat;
    font-size: 15px;
    height: 50px;
    padding-top: 20px;
}
.form-control:focus {
    /*border-color: #000;*/
    border-color:#fcd92f;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.placeMin{
    font-family: Montserrat;
    font-size: 11px;
    color: #000000;
    position: relative;
    transition: top 0.2s ease-in-out 0s;
    z-index: 9;
}
.condiciones_text {
    color: #4a4a4a;
    font-family: Montserrat;
    margin-bottom: 10px;
    font-size: 13px;
}
.condiciones {
    font-family: Montserrat;
    font-size: 13px;
    color: #4a4a4a;
    position: relative;
    bottom:4px;
}
.modal-contact{
    background-color: white;
}
.error_contact {
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
    color: #ea0232;
}
.modal-dialog.modal-content {
    position: relative;
    top: 300px;
    width: 140px;
}
.condiciones a {
    color: #000000;
    text-decoration: underline;
}
.div_cond{
    margin-top: 30px;
}
.close {
    color: #000;
    font-size: 60px;
    font-weight: normal;
    opacity: 1;
}
.mens_ok > img {
    margin-top: -24px;
    position: absolute;
    right: 15px;
    width: 15px;
    z-index: 3;
}
.mens_ok_select > img {
    margin-top: 26px;
    position: absolute;
    right: 40px;
    z-index: 3;
    width:15px;
}
.caja_error {
    border-color: #f9315b;
}
.caja_focus{
    border-color: #fcd92f !important;
}
.caja_error_select {
    border-color: #f9315b !important;
}
.similar_height_con{
    min-height: 484px;
}
@media (max-width: 1190px) {
    .similar_height_con{
        min-height: 498px;
    }
}
@media (max-width: 990px) {
    .margin-left20 {
        margin-left: 0px;
    }
    .similar_height_con {
        min-height: 0px;
    }
    .margin-left10 {
        margin-left: 0px;
    }
    .section_responsive_margin_bottom {
        margin-bottom: 10px;
    }
}