.back_grey_resp {
    background-color: #f3f3f3;
    padding-left: 10px;
    padding-right: 10px;
}
.white_div_resp {
    background-color: #ffffff;
    /*margin: 20px 10px;*/
    margin: 10px 0px;
    padding: 20px;
}
.p_res{
    font-family: Montserrat;
    font-size: 30px;
    color: #000000;
}
.p_titulo_res {
    font-family: Montserrat;
    font-size: 13px;
    color: #4a4a4a;
}
.first_graf{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000 #000 currentcolor;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 2px 0px;
    height: 10px;
    padding: 0;
    width: 2%;
}
.med_graf{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000 #000 currentcolor;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 2px;
    height: 10px;
    padding: 0;
    width: 9.6%;
}
.last_graf{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000 #000 currentcolor;
    border-image: none;
    border-style: solid;
    border-width: 0 0px 2px 1px;
    height: 10px;
    padding: 0;
    width: 2%;
}
.graf_geo_all{
    padding-right: 5px;
    padding-left: 5px;
    width: 10%;
}
.graf_geo_first{
    padding-left: 0;
    padding-right: 5px;
    width: 10%;
}
.graf_geo_last{
    padding-right: 0;
    padding-left: 5px;
    width: 10%;
}
.graf_geo_in{
     height: 10px;
}
.graf_geo1{
    background-color: #fcd92f;
}
.graf_geo2{
    background-color: #fcd92f;
}
.graf_geo3{
    background-color: #fcd92f;
}
.graf_geo4{
    background-color: #fcd92f;
}
.graf_geo5{
    background-color: #fcd92f;
}
.graf_geo6{
    background-color: #fcd92f;
}
.graf_geo7{
    background-color: #fcd92f;
}
.graf_geo8{
    background-color: #fcd92f;
}
.graf_geo9{
    background-color: #fcd92f;
}
.graf_geo10{
    background-color: #fcd92f;
}
.text_graf_first{
    width: 4%;
    float: left;
    text-align: center;
}
.text_graf_mid{
    width: 92%;
    float: left;
    text-align: center;
}
.div_response{
    width: 145px;
    position: relative;
}
.div_response_margin{
    margin-top: 10px;
}
.div_cc{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: solid;
    border-width: 0 0px 6px 0px;
}
.div_cc_AAA_plus{
    border-color: #02689c;
}
.div_cc_AAA{
    border-color: #2c89c5;
}
.div_cc_AAA_minus{
    border-color: #2caec6;
}
.div_cc_AA_plus{
    border-color: #44c5be;
}
.div_cc_AA{
    border-color:#84c544;
}
.div_cc_AA_minus{
    border-color: #c0c544;
}
.div_cc_A_plus{
    border-color: #fcc42f;
}
.div_cc_A{
    border-color: #f5a623;
}
.div_cc_A_minus{
    border-color: #f9315b;
}
.div_cc_B_plus{
    border-color: #d62a4d;
}
.div_cc_B{
    border-color: #ba2444;
}
.div_cc_B_minus{
    border-color: #941f3e;
}
.div_cc_C_plus{
    border-color: #922d6f;
}
.div_cc_C{
    border-color: #78255b;
}
.div_cc_C_minus{
    border-color: #5a1a44;
}
.div_cc_D_plus{
    border-color: #401431;
}
.div_cc_D{
    border-color: #2e1425;
}
.div_cc_D_minus{
    border-color: #000000;
}
.pop_response{
    background-color: #3c3c3c;
    color: white;
    font-family: Montserrat;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    border-color: #3c3c3c;
}
.pop_response_risk{
    padding-top: 5px;
}
.triangulo_pop_response {
    margin:0 auto;
    position: relative;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #3c3c3c;
}

