.form-control::-moz-placeholder {
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.5);
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.5);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.5);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.5);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: Montserrat;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.5);
}
.disabled.selected.active {
    display: none;
}
.form-control:focus {
    /*border-color: #000;*/
    border-color:#fcd92f;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.title-white{
    background-color: #fcd92f;
    color: #fff;
}
.bs-searchbox > input {
    border-color: #000;
    border-radius: 0;
    border-width: 0 0 2px;
    box-shadow: 0 0 0 0;
    color: #000;
}
.bootstrap-select > .dropdown-toggle:focus {
    outline:none;
    background-color: #fff;
    border-color:#fcd92f;
}
/*.bootstrap-select > .dropdown-toggle {*/
    /*background-color: #fff !important;*/
    /*border-color: #000 !important;*/
    /*color: #000 !important;*/
/*}*/
.send_key{
    font-family: Montserrat;
    font-size: 13px;
    width: 128px;
    height: 43px;
    border: solid 1px #fcd92f;
    background-color: transparent;
    color: #fcd92f;
    text-transform: uppercase;
}
.dropdown-menu {
    border: 0px none;
    border-radius: 0px;
    box-shadow: none;
    top: 5px;
}
.dropdown-menu > li > a {
    border-bottom: 2px solid;
    color: black;
}
.btn-default {
    border-style: solid none solid solid;
    border-radius: 0;
    border-width: 0 0 2px;
    box-shadow: 0 0 0 0;
    color: #000;
    border-color: #000;
    font-family: Montserrat;
    font-size: 15px;
    height: 36px;
}
.color_white{
    color: #f3f3f3;
}
.input_label_grey::-moz-placeholder {
    font-family: Montserrat;
    font-size: 15px;
    color: #fefefe;
}
.input_label_grey::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family: Montserrat;
    font-size: 15px;
    color: #fefefe;
}
.landing_desc_text{
    font-family: Roboto;
    font-size: 15px;
    color: #fefefe;
}
.height_divkey{
    height:60px;
}
.resend_key {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #fcd92f;
}
.input_label_grey {
    background-color: #545454;
    color: #fff;
    padding-top: 5px;
}
.select_disabled{
    opacity: 0.5;
}
.disabled > a > .text {
    opacity: 0.5;
    color: #000756;
}
.div_boton_seguridad{
    width:300px;
}
.boton_seguridad{
    width:300px;
}
.bs-searchbox .form-control:focus {
    border: 0 none;
    float: none;
    margin-bottom: 0;
    width: 100%;
}
.bs-searchbox .form-control {
    border: 0 none;
    float: none;
    margin-bottom: 0;
    width: 100%;
}
.bs-actionsbox, .bs-donebutton, .bs-searchbox {
    border: 10px solid white;
    padding:0px;
}
.placeMin{
    font-family: Montserrat;
    font-size: 11px;
    top: 5px;
    color: #000000;
    position: relative;
    transition: top 0.2s ease-in-out 0s;
    z-index: 3;
}
.title-white{
    background-color: #fcd92f;
    color: #fff;
}
.select_disabled{
    opacity: 0.5;
}
.disabled > a > .text {
    opacity: 0.5;
    color: #000756;
}
button > span:first-of-type{
    /*opacity: 0.5;*/
}
.bs-searchbox > input {
    background-color: #f3f3f3;
    font-family: Montserrat;
    font-size: 15px;
    color: #4a4a4a;
    border: 0px none;
    border-color: #000;
    box-shadow: 0 0 0 0;
    color: #000;
}
.bootstrap-select > .dropdown-toggle:focus {
    outline:none;
    font-size: 15px;
    color: #000000;
}
.bootstrap-select > .dropdown-toggle {
    background-color: #fff ;
    border-color: #000 ;
    color: #000 ;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: none;
    margin: 0;
    padding: 0;
    position: static;
}
.section_margin_bottom20{
    margin-bottom:20px;
}
.text_padding_top{
    padding-top:10px;
}
.dropdown-menu {
    border: 0 none;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    top: 48px;
    padding:0px;
}
.dropdown-menu > li > a {
    /*border-bottom: 2px solid;*/
    color: black;
}
.input_img {
    background: white none repeat scroll 0 0;
    border-color: #4a4a4a;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 2px 0 2px 2px;
    border-radius: 10px 0px 0px 10px;
}
.input_label {
    border-style: solid none solid solid;
    border-radius: 0;
    border-width: 0 0 2px;
    box-shadow: 0 0 0 0;
    color: #000;
    border-color: #000;
    font-family: Montserrat;
    font-size: 15px;
    height: 50px;
    padding-top: 20px;
}
.color_white{
    color: #f3f3f3;
}
.input_label_grey::-moz-placeholder {
    font-family: Montserrat;
    font-size: 15px;
    color: #fefefe;
}
.input_label_grey::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family: Montserrat;
    font-size: 15px;
    color: #fefefe;
}
.landing_desc_text{
    font-family: Roboto;
    font-size: 15px;
    color: #4a4a4a;
}
.height_divkey{
    height:60px;
}
.resend_key {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #242424;
    text-decoration: underline;
}
.landing_desc {
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 45px;
}
.no_margin_desc{
    margin-top: 7px;
    margin-bottom: 7px;
}
.input_label_grey {
    background-color: #545454;
    color: #fff;
    padding-top: 5px;
}
.margin-bottom-title{
    margin-bottom: 20px;
}
.title_desc_demo{
    margin-top: 5px;
}
.input-group {
    border-collapse: separate;
    display: table;
    margin-top: 5px;
    position: relative;
}
.input_colum_demo {
    padding: 0;
}
.input_colum_demo_medio {
    padding-left: 5px;
    padding-right: 5px;
}
.input_colum_demo_pri {
    padding-right: 5px;
}
.input_colum_button_pri{
    padding-right: 5px;
}
.input_colum_demo_ult {
    padding-left: 5px;
}
.boton_demo {
    font-family: Montserrat;
    text-transform: uppercase;
    height: 50px;
    margin-top: 40px;
    width: 200px;
}
.margin_auto{
    width: 224px;
    margin: 0 auto;
}
.boton_limpiar {
    border: 2px solid #000756;
    color: #000756;
    background-color:white;
}
.hr_demo {
    border: 1px solid #fb5f4f;
    margin-bottom: 40px;
    margin-top: 40px;
}
.margin-top-modal{
    margin-top: 40px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
    opacity: 1;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #fff !important;
}
.btn-group.open .dropdown-toggle {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
}
.select_place{
    font-size:14px;
    color: #000756;
    opacity:0.5;
}
.placeholder_select{
    opacity:0.5;
}
.input-group-addon {
    padding: 6px 7px !important;
}
.dropdown-menu.inner {
    max-height: 130px !important;
}
.btn-group.bootstrap-select.form-control.input_label {
    padding-top: 14px;
}
.div_sms_left {
    height: 43px;
    width: 43px;
}
.img_width100{
    width: 100%;
}
.icono_ok_sms{
    margin-left: 10px;
    margin-top: 15px;
}
/*VALIDACION DC*/
.mens_ok > img {
    margin-top: -24px;
    position: absolute;
    right: 15px;
    width: 15px;
    z-index: 3;
}
.mens_ok_select > img {
    background-color: white;
    margin-top: 26px;
    position: absolute;
    right: 40px;
    z-index: 3;
    width:15px;
}
.caja_error {
    border-color: #f9315b !important;
}
.caja_focus{
    border-color: #fcd92f !important;
}
.caja_error_select {
    border-color: #f9315b !important;
}
@media (max-width: 768px) {
    .boton_responsive{
        top: 10px;
    }
    .input_colum_demo_pri {
        padding-right: 0px;
    }
    .input_colum_demo_ult {
        padding-left: 0px;
    }
    .input_colum_demo_medio {
        padding-left: 0px;
        padding-right: 0px;
    }
    .demo_titulo {
        padding-top:20px;
    }
    .placeMin{
        margin-top: 5px;
    }
}
.label_sex{
    font-family: Montserrat;
    font-size: 15px;
    color: #4a4a4a;
    bottom:4px;
    position: relative;
}
/*CONDICIONES */
.condiciones_text {
    color: #4a4a4a;
    font-family: Montserrat;
    margin-bottom: 10px;
    font-size: 13px;
}
.condiciones {
    font-family: Montserrat;
    font-size: 13px;
    color: #4a4a4a;
    position: relative;
    bottom:4px;
}
.float_right{
 text-align: right;
}
.condiciones a {
    color: #000000;
    text-decoration: underline;
}
.div_cond{
    margin-top: 30px;

}
.dropdown-menu > li > a {
    border-bottom: 0px none;
    color: black;
}
/*RESPONSE DEMO*/
.back_grey_resp {
    background-color: #f3f3f3;
    padding-left: 10px;
    padding-right: 10px;
}
.white_div_resp {
    background-color: #ffffff;
    /*margin: 20px 10px;*/
    margin: 10px 0px;
    padding: 20px;
}
.p_res{
    font-family: Montserrat;
    font-size: 30px;
    color: #000000;
}
.p_titulo_res {
    font-family: Montserrat;
    font-size: 13px;
    color: #4a4a4a;
}
.button_margin_bottom{
    margin-bottom:40px;
}
.col-md-3.result_div {
    padding-left: 10px;
    padding-right: 10px;
}
.col-md-9.result_div {
    padding-left: 10px;
    padding-right: 10px;
}
.col-md-6.result_div {
    padding-left: 10px;
    padding-right: 10px;
}
.col-md-4.result_div {
    padding-left: 10px;
    padding-right: 10px;
}
.modal-contact{
    background-color: white;
}
.error_contact {
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
    color: #ea0232;
}
.modal-dialog.modal-content {
    position: relative;
    top: 300px;
    width: 140px;
}
.close {
    color: #000;
    font-size: 60px;
    font-weight: normal;
    opacity: 1;
}
.min_height_demo{
    height: 400px;
}